<a href="#"><mat-icon style="color: black;" (click)="this.dashboardService.startEditMode(this.idvalue)"> edit</mat-icon></a> 
<div >
  <kendo-grid [data]="gridData" [height]="410">
    <kendo-grid-column field="ProductID" title="ID" width="40">
    </kendo-grid-column>
    <kendo-grid-column field="ProductName" title="Name" width="250">
    </kendo-grid-column>
    <kendo-grid-column field="Category.CategoryName" title="Category">
    </kendo-grid-column>
    <kendo-grid-column field="UnitPrice" title="Price" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.Discontinued"  />
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
  

  <input #text class="form-control" (input)="onSearchChange($event.target.value, text.id,$event)" type="text" id="{{this.idvalue}}" value="{{this.dashboardService.IDModelDictionary.get(this.idvalue.toString())}}">
    hi {{this.dashboardService.IDModelDictionary.get(this.idvalue.toString())}}
</div>

