<div class="gridster-container" *ngIf="isDataAvailable">
  <div class="dropdown">
    <button type="button" class="btn btn-success float-right top-btn-right"
    (click)="onClick_SaveUserDashboardsToLocalStorage()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save User Dashboards to Browser Local Storage</button>
    
    <mat-icon class="dropbtn">add_circle</mat-icon>
    <div class="dropdown-content">
      <a (click)="onClick_AddImage()">Image</a>
      <a (click)="onClick_AddTextBox()">Text</a>
      <a (click)="onClick_AddCheckbox()">Check Box</a>
      <a (click)="onClick_AddCheckbox()">Nomination List</a>
    </div>
  </div>

    <gridster [options]="options" style="background-color:gray">
        <gridster-item [item]="widget" *ngFor="let widget of dashboard">
          <div class="widgets-container">
            <div class="gridster-item-options">
              <a href="#">
                <mat-icon style="color: blue;" class="drag-handler">open_with</mat-icon>
              </a> 
              <a class="widget-header-btn" (mousedown)="onClick_removeItem($event, widget)"
                        (touchstart)="onClick_removeItem($event, widget)">
                        <mat-icon>cancel</mat-icon>
              </a>
            </div>
              <div class=" gridster-item-content">
                
                <ndc-dynamic [ndcDynamicComponent]="widget.componentType"
                  (ndcDynamicInputs)="inputs"
                  (ndcDynamicOutputs)="outputs">
                </ndc-dynamic>
              </div>
          </div>
          
        </gridster-item>
      </gridster>
</div>
    