<div class="maincontainer" *ngIf="this.dashboardService.IDModelDictionary.get(this.idvalue.toString()) === ''">
    
    <label>Please Upload an Image</label>
    <input #file type="file" accept='image/*' (change)="preview(file.files, file.id)" id="{{this.idvalue}}"/>
  </div>

  <div *ngIf="this.dashboardService.IDModelDictionary.get(this.idvalue.toString()) != ''">
    <img class="drag-handler image-dimensions" src="{{this.dashboardService.IDModelDictionary.get(this.idvalue.toString())}}" >
  </div>
